body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #bfb4b4;
  }

  h1 {
    color: #333;
  }

  #gradeForm {
    margin: 20px;
    padding: 20px;
    background-color: #f7dfdf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #978888;
    border-radius: 3px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  #gradeResult {
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }